<!-- ======================================= Phone ===================================================== -->

<div class="phone-mobile">
  <img id="phone-image-mobile" src="/assets/project2_phone.png" alt="Image and video hosting by PhotoBucket">
</div>

<!-- ======================================= Home Logo Button ===================================================== -->

<%= link_to root_path do %>
  <!-- <div class="logo-empty-mobile"></div> -->
  <img id="logo-img-prjt2-mobile" src="/assets/logo.png" alt="Logo Home Image">
<% end %>

<div id="home-mobile">
  Home
</div>

<!-- ======================================= Project 2 Background ===================================================== -->

<div id="project2-background-mobile">
  <img id="project2-background-art-mobile" src="/assets/project2_background.png" alt="Image and video hosting by PhotoBucket">
</div>


<div class="orange-background-mobile">

</div>
<!-- ======================================= Project Name & Description ===================================================== -->
<div class="project2-name-mobile">
    GoWithMe
</div>

<div class="project2-description-mobile">
  GoWithMe was designed as a mobile application. Built on Ruby
  on Rails, the Eventbrite API lets the user find events and
  communicate through the application to find other users to
  go with to the event. Hosted on Heroku the application uses
  Postgres for its database and Facebook OAuth was utilized
  to facilitate a faster sign-up/sign-in process for the user.
  The frontend was created with HTML, CSS, and Bootstrap.
  All design mock- ups and wireframes were created using
  Adobe Photoshop and Illustrator.
</div>

<!-- ======================================= See More/Git Button ===================================================== -->

<div class="git-button-prjt2-mobile">
<!-- <strong> -->
  <%= link_to 'See More', 'https://github.com/enriqueguido/with_me', class: "git-button-link-prjt2-mobile"  %>
<!-- </strong> -->
</div>

<!-- ======================================= Back Button ===================================================== -->

<%= link_to project1_description_path do %>
  <div class="back-arrow-mobile-project2"></div>
<% end %>

<!-- ======================================= Foward Button ===================================================== -->

<%= link_to project4_description_path do %>
  <div id="foward-arrow-mobile-poject2"></div>
<% end %>
