
<!-- ======================================= Right Side Courser ===================================================== -->

<%= link_to project3_description_path do %>
  <div class="right-side-cursor"></div>
<% end %>
<!-- ======================================= Home Logo Button ===================================================== -->

<%= link_to root_path do %>
  <div class="logo-empty"></div>
  <img id="logo-img-prjt4" src="/assets/logo.png" alt="Image and video hosting by TinyPic">
<% end %>

<div class="home">
  Home
</div>

<!-- ======================================= Main Phone Photo/Sign Up ===================================================== -->

<div class="phone-signup">
  <img id="phone-signup-image" src="/assets/kiz_project_app_signup.png" alt="Image and video hosting by PhotoBucket">
</div>

<!-- ======================================= Phone Message Image ===================================================== -->

<div class="phone-message">
  <img id="phone-message-image" src="/assets/kiz_project_app_message.png" alt="Image and video hosting by PhotoBucket">
</div>

<!-- ======================================= Phone Comments Image ===================================================== -->

<div class="phone-comment">
  <img id="phone-comment-image" src="/assets/kiz_project_app_comment.png" alt="Image and video hosting by PhotoBucket">
</div>

<!-- ======================================= Project 4 Description & name ===================================================== -->

<div class="project4_description">
  <p>
    Kiz is a social text messaging application that
    utilizes Kairos emotional analysis and face recognition
    API to analyze users emotions as a way to enhance
    communication with the intentions of eradicating
    misinterpretation via messages, to present
    their users with a more human interaction.
    Users are instantly aware if the recipient
    misinterpreted or was negatively/positively
    affected by the message.
  </p>
</div>

<div class="project4_name">
  Kiz
</div>

<!-- ======================================= Project 4 Description Background ===================================================== -->

<img id="project4-background"src="/assets/project4_description.png" alt="Image and video hosting by TinyPic">

<!-- ======================================= Main Phone Photo/Sign Up Shadow ===================================================== -->

<div class="phone-signup-shadow"></div>

<!-- ======================================= Phone Message Image Shadow ===================================================== -->

<div class="phone-message-shadow"></div>

<!-- ======================================= Phone Comments Image Shadow ===================================================== -->

<div class="phone-comment-shadow"></div>

<!-- ======================================= Left Side Courser ===================================================== -->

<%= link_to project2_description_path do %>
  <div class="left-side-cursor"></div>
<% end %>
