
<!-- ======================================= Background Image ===================================================== -->

<div class="project1-background-art">
  <img id="project1-background-art" src="http://i64.tinypic.com/34ssf9g.jpg" alt="Image and video hosting by TinyPic">
</div>

<!-- ======================================= App Photos ===================================================== -->

<div class="wobblee-bubble-pg">
  <img id="wobblee-bubble-pg" src="http://i65.tinypic.com/1552fwi.jpg" alt="Image and video hosting by TinyPic">
</div>

<div class="wobblee-signup">
  <img id="wobblee-signup" src="http://i67.tinypic.com/ftmtj4.jpg" alt="Image and video hosting by TinyPic">
</div>

<div class="wobblee-home-pg">
  <img id="wobblee-home-pg" src="http://i63.tinypic.com/1sgpi1.jpg" alt="Image and video hosting by TinyPic">
</div>


<!-- ======================================= Project Name & Description ===================================================== -->
<a class="click">
  <div class="project1-name">
    Wobblee
  </div>

  <div class="project1-description">
    Wobblee was created as a mobile application utilizing Ruby
    and Ruby on Rails for the backend. The app renders data
    by checking your reaction time and provides advice
    based on your intoxication level.
    The application relies heavily on JavaScript for reaction time
    measurements as bubbles randomly appear
    on the screen and the user is timed only on the green bubble
    that appears on the screen.
    The frontend of this application was created using HTML, and CSS,
    while all wireframing and high fidelity designs were created in
    Adobe Photoshop and Illustrator.
  </div>
</a>

<!-- ======================================= Right Side Courser ===================================================== -->

<%= link_to project2_description_path do %>
  <div class="right-side-cursor"></div>
<% end %>

<!-- ======================================= GitHub Button ===================================================== -->

<div class="git-button">
  <%= link_to 'See More', 'https://github.com/galinap684/wobbleeapp-', class: "git-button-link" %>
</div>

<!-- ======================================= Home Logo Button ===================================================== -->

<%= link_to root_path do %>
  <div class="logo-empty"></div>
  <img id="logo-img-prjt2" src="http://i67.tinypic.com/10dcpl0.jpg" alt="Image and video hosting by TinyPic">
<% end %>

<div class="home">
  Home
</div>

<!-- ======================================= Left Side Courser ===================================================== -->

<%= link_to root_path do %>
  <div class="left-side-cursor"></div>
<% end %>
