
<!-- ======================================= Background Image ===================================================== -->

<div class="project1-background-art-mobile">
  <img id="project1-background-art-mobile" src="/assets/background2_project1.jpg" alt="Project One Background Art">
</div>

<!-- ======================================= App Photos ===================================================== -->

<div class="wobblee-bubble-pg-mobile">
  <img id="wobblee-bubble-pg-mobile" src="/assets/wobblee_display.png" alt="Image and video hosting by TinyPic">
</div>

<div class="wobblee-signup-mobile">
  <img id="wobblee-signup-mobile" src="/assets/wobblee_signup.png" alt="Image and video hosting by TinyPic">
</div>

<div class="wobblee-home-pg-mobile">
  <img id="wobblee-home-pg-mobile" src="/assets/wobblee_opening.png" alt="Image and video hosting by TinyPic">
</div>


<!-- ======================================= Project Name & Description ===================================================== -->
<!-- <a class="click-mobile"> -->
  <div class="project1-name-mobile">
    Wobblee
  </div>

  <div class="project1-description-mobile">
    Wobblee was created as a mobile application utilizing Ruby
    and Ruby on Rails for the backend. The app renders data
    by checking your reaction time and provides advice
    based on your intoxication level.
    The application relies heavily on JavaScript for reaction time
    measurements as bubbles randomly appear
    on the screen and the user is timed only on the green bubble
    that appears on the screen.
    The frontend of this application was created using HTML, and CSS,
    while all wireframing and high fidelity designs were created in
    Adobe Photoshop and Illustrator.
  </div>
<!-- </a> -->

<!-- ======================================= GitHub Button ===================================================== -->

<div class="git-button-mobile">
  <%= link_to 'See More', 'https://github.com/galinap684/wobbleeapp-', class: "git-button-link-mobile" %>
</div>

<!-- ======================================= Home Logo Button ===================================================== -->

<%= link_to root_path do %>
  <!-- <div class="logo-empty-mobile"></div> -->
  <img id="logo-img-prjt2-mobile" src="/assets/logo.png" alt="Logo Home Image">
<% end %>

<div id="home-mobile">
  Home
</div>

<!-- ======================================= Back Button ===================================================== -->

<%= link_to root_path do %>
  <div class="back-arrow-mobile"></div>
<% end %>

<!-- ======================================= Foward Button ===================================================== -->

<%= link_to project2_description_path do %>
  <div id="foward-arrow-mobile"></div>
<% end %>
