
<!-- ======================================= Home Logo Button ===================================================== -->

<!-- <%#= link_to root_path do %>
  <div class="logo-empty"></div>
  <img id="logo-img-prjt2" src="http://i65.tinypic.com/2vs22ww.jpg" alt="Image and video hosting by TinyPic">
<%# end %> -->

<!-- <div class="home-project2">
  Home
</div> -->

<!-- ======================================= Main Phone Photo/Sign Up ===================================================== -->

<!-- <div class="phone-signup">
  <img id="phone-signup-image" src="http://i68.tinypic.com/2s7j1bd.jpg" alt="Image and video hosting by PhotoBucket">
</div> -->

<!-- ======================================= Phone Message Image ===================================================== -->

<!-- <div class="phone-message">
  <img id="phone-message-image" src="http://i63.tinypic.com/fjepaq.jpg" alt="Image and video hosting by PhotoBucket">
</div> -->

<!-- ======================================= Phone Comments Image ===================================================== -->

<!-- <div class="phone-comment">
  <img id="phone-comment-image" src="http://i65.tinypic.com/ws1atf.jpg" alt="Image and video hosting by PhotoBucket">
</div> -->

<!-- ======================================= Project 4 Description & name ===================================================== -->

<!-- <div class="project4_description">
  <p>
    Kiz is social text messaging application that
    utilizes Kairos API to analize users emotions
    as a way to enhance communication with the intentions
    of eradicating misscommunication via messages, while
    presenting their users with a more human interaction.
    Users are instantly awared if the recepient
    misinterpreted or was negatively/positively
    affected by the message.
  </p>
</div>

<div class="project4_name">
  Kiz
</div> -->
