
<!-- ======================================= Project 2 Background ===================================================== -->

<div id="project2-background">
  <img id="project2-background-art" src="http://i67.tinypic.com/2n23e4l.jpg" alt="Image and video hosting by PhotoBucket">
</div>

<!-- ======================================= Project Name & Description ===================================================== -->
<div class="project2-name">
    GoWithMe
</div>

<div class="project2-description">
  GoWithMe was designed as a mobile application. Built on Ruby
  on Rails, the Eventbrite API lets the user find events and
  communicate through the application to find other users to
  go with to the event. Hosted on Heroku the application uses
  Postgres for its database and Facebook OAuth was utilized
  to facilitate a faster sign-up/sign-in process for the user.
  The frontend was created with HTML, CSS, and Bootstrap.
  All design mock- ups and wireframes were created using
  Adobe Photoshop and Illustrator.
</div>

<!-- ======================================= Left Side Courser ===================================================== -->

<%= link_to project1_description_path do %>
  <div class="left-side-cursor"></div>
<% end %>

<!-- ======================================= See More/Git Button ===================================================== -->

<div class="git-button-prjt2">
<!-- <strong> -->
  <%= link_to 'See More', 'https://github.com/enriqueguido/with_me', class: "git-button-link-prjt2"  %>
<!-- </strong> -->
</div>

<!-- ======================================= Phone ===================================================== -->

<div class="phone">
  <img id="phone-image" src="http://i66.tinypic.com/ny8q6q.jpg" alt="Image and video hosting by PhotoBucket">
</div>

<!-- ======================================= Left Side Courser ===================================================== -->

<%= link_to project4_description_path do %>
  <div class="right-side-cursor"></div>
<% end %>

<!-- ======================================= Home Logo Button ===================================================== -->

<%= link_to root_path do %>
  <div class="logo-empty"></div>
  <img id="logo-img-prjt2" src="http://i67.tinypic.com/10dcpl0.jpg" alt="Image and video hosting by TinyPic">
<% end %>

<div class="home">
  Home
</div>

<!-- ======================================= App Photo ===================================================== -->

<!-- <a> <%#= link_to project3_description_path do %>
  <div class="app-login">
    <img id="app-login-screen" src="http://i350.photobucket.com/albums/q404/enriqueguido/Screen%20Shot%202017-05-26%20at%2011.44.07%20AM_zpsue8drfuo.png" alt="Image and video hosting by PhotoBucket">
  </div>
  <%# end %>
</a> -->
