
<!-- ======================================= Home Logo Button ===================================================== -->

<%= link_to root_path do %>
  <img id="logo-img-prjt2-mobile" src="/assets/logo.png" alt="Logo Home Image">
<% end %>

<div id="home-mobile">
  Home
</div>

<!-- ======================================= Background Image ===================================================== -->

<div class="project3-background-art3-mobile">
  <img id="project3-background-art3-mobile" src="/assets/project3_background3.png" alt="Image and video hosting by TinyPic">
</div>

<!-- ======================================= Project Name & Description ===================================================== -->

<div class="project3-name-mobile">
    21-Reple
</div>

<div class="project3-description-mobile">
  21-Reple was designed as a Blackjack reple game.
  Blackjack is a widely popular casino game also
  known as twenty-one that compares cards
  between a player and the dealer. The game
  was created utilizing ruby as the back-end,
  and was designed to run on the terminal,
  while RSpec was used with behavior
  driven development in mind.
</div>

<!-- ======================================= See More/Git Button ===================================================== -->

<a> <%= link_to root_path do %>
  <div class="git-button-prjt3-mobile">
    <!-- <strong> -->
      <%= link_to 'See More', 'https://github.com/enriqueguido/black_jack', class: "git-button-link-prjt3-mobile" %>
    <!-- </strong> -->
  </div>
<% end %>
</a>
