/*============================================== Headings/Paragraphs/Contact Info ==============================================*/
@media screen and (max-width: 1824px) and (min-width: 1024px) {
  .heading {
    display: flex;
    justify-content: center;
    /*margin-top: 10px;*/
    /*margin-bottom: 300px;*/
    padding: 0px;
    font-size: 30px;
    text-align: center;
    font-family: "HelveticaNeue-Light";
    color: #9fbc93;
  }

  .message {
    position: absolute;
    left: 555px;
    top: 400px;
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 20px;
    /*text-align: center;*/
    font-family: "HelveticaNeue-Light";
    color: #9fbc93;
  }

  .phone-number {
    position: absolute;
    left: 610px;
    /*top: 500px;*/
    bottom: 150px;
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    font-family: "HelveticaNeue-Light";
    color: #9fbc93;
  }

  /*============================================== Contact Form ==============================================*/
  /*================================================================================================================*/

  /*@import "https://fonts.googleapis.com/css?family=Raleway";
  * { box-sizing: border-box; }
  #contact {
    -webkit-user-select: none;  Chrome/Safari
    -moz-user-select: none;  Firefox
    -ms-user-select: none;  IE10+
  }*/

  /*.contactForm {
    padding: 2em;
    width: 580px;
    text-align: center;
    background: black;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    border: white;
    background: none;
  }*/

  /*input, textarea {*/
    /*margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;*/

    /*border: 6px solid salmon;*/
    /*border-bottom: 4px solid white;*/
    /*border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #f59086;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;*/
  /*}
  textarea { height: 420px; resize: none; }*/

  /*.formBtn {
    width: 140px;
    display: inline-block;
    background: #38c7c7;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 30px;
    margin-bottom: 300px;
  }*/

  input:focus { outline: none; }

  textarea:focus { outline: none; }

  .submit-button {
    position: absolute;
    bottom: 270px;
    left: 570px;
    width: 140px;
    background: #00569a;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 30px;
    border-radius: 10px 0px 0px 0px;
  }

  .reset-button {
    position: absolute;
    bottom: 270px;
    right: 570px;
    width: 140px;
    background: #00569a;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 30px;
    border-radius: 0px 10px 0px 0px;
  }

  .cotact-name {
    position: absolute;
    top: 150px;
    left: 475px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #00569a;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;
  }

  .contact-email {
    position: absolute;
    top: 230px;
    left: 475px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #00569a;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;
  }

  .contact-subject {
    position: absolute;
    top: 312px;
    left: 475px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #00569a;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;
  }

  .contact-comment {
    position: absolute;
    top: 150px;
    left: 750px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;

    border: 2px solid;
    border-color: #00569a;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;
    height: 180px;
    resize: none;
  }

  /*============================================== Background Color ==============================================*/

  /*.background {
    background-color: #d4d4d4;
  }*/

  /*============================================== Home Button ==============================================*/

  .home-logo {
    position: absolute;
    /*margin-top: 5px;*/
    margin-left: 89%;
    height: 80px;
    width: 80px;
    cursor: pointer;
  }

  .logo-course {
    cursor: pointer;
  }

  /*============================================== Contact Envelope ==============================================*/

  .envelope {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .envelope-background {
    display: flex;
    justify-content: center;
    margin-top: -310px;
    margin-left: 390px;
    /*position: relative;*/
    /*top: 120px;
    left: 392px;*/
    width: 650px;
    height: 318px;
    background-color: #00569a;
    border: none;
    transform-origin: inherit;
    /*transform: rotate(20deg);*/
    /*transform:  translateX(-50%) translateY(-50%) rotate(20deg);*/
    /*transform: matrix(1, -0.3, 0, 1, 0, 0);*/
  }

  /*.envelope-background-rotate {
    position: fixed;
    transform: rotate(20deg);
  }*/

  /*============================================== Contact Envelope ==============================================*/

  .post-stamp {
    position: absolute;
    top: 150px;
    left: 140px;
    height: 200px;
    width: 200px;
  }

  .miami-stamp {
    position: absolute;
    top: 25px;
    right: 90px;
  }

  .la-stamp {
    position: absolute;
    top: 50px;
    left: 40px;
    height: 200px;
    width: 200px;
  }

  .delivery-stamp {
    position: absolute;
    top: 230px;
    right: 100px;
    height: 300px;
    width: 300px;
  }

  .express-stamp {
    position: absolute;
    top: 230px;
    left: 40px;
    height: 280px;
    width: 280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .heading {
    display: flex;
    justify-content: center;
    /*margin-top: 10px;*/
    /*margin-bottom: 300px;*/
    padding: 0px;
    font-size: 30px;
    text-align: center;
    font-family: "HelveticaNeue-Light";
    color: #9fbc93;
  }

  .message {
    position: absolute;
    left: 345px;
    top: 400px;
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 20px;
    /*text-align: center;*/
    font-family: "HelveticaNeue-Light";
    color: #9fbc93;
  }

  .phone-number {
    position: absolute;
    left: 405px;
    /* top: 500px; */
    bottom: 0px;
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    font-family: "HelveticaNeue-Light";
    color: #9fbc93;
  }

  /*============================================== Contact Form ==============================================*/
  /*================================================================================================================*/

  /*@import "https://fonts.googleapis.com/css?family=Raleway";
  * { box-sizing: border-box; }
  #contact {
    -webkit-user-select: none;  Chrome/Safari
    -moz-user-select: none;  Firefox
    -ms-user-select: none;  IE10+
  }*/

  /*.contactForm {
    padding: 2em;
    width: 580px;
    text-align: center;
    background: black;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    border: white;
    background: none;
  }*/

  /*input, textarea {*/
    /*margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;*/

    /*border: 6px solid salmon;*/
    /*border-bottom: 4px solid white;*/
    /*border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #f59086;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;*/
  /*}
  textarea { height: 420px; resize: none; }*/

  /*.formBtn {
    width: 140px;
    display: inline-block;
    background: #38c7c7;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 30px;
    margin-bottom: 300px;
  }*/

  input:focus { outline: none; }

  textarea:focus { outline: none; }

  .submit-button {
    position: absolute;
    bottom: 120px;
    left: 335px;
    width: 140px;
    background: #00569a;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 30px;
    border-radius: 10px 0px 0px 0px;
  }

  .reset-button {
    position: absolute;
    bottom: 120px;
    right: 335px;
    width: 140px;
    background: #00569a;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 30px;
    border-radius: 0px 10px 0px 0px;
  }

  .cotact-name {
    position: absolute;
    top: 150px;
    left: 255px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #00569a;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;
  }

  .contact-email {
    position: absolute;
    top: 230px;
    left: 255px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #00569a;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;
  }

  .contact-subject {
    position: absolute;
    top: 312px;
    left: 255px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #00569a;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;
  }

  .contact-comment {
    position: absolute;
    top: 150px;
    left: 540px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;

    border: 2px solid;
    border-color: #00569a;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;
    height: 180px;
    resize: none;
  }

  /*============================================== Background Color ==============================================*/

  /*.background {
    background-color: #d4d4d4;
  }*/

  /*============================================== Home Button ==============================================*/

  .home-logo {
    position: absolute;
    /*margin-top: 5px;*/
    margin-left: 89%;
    height: 80px;
    width: 80px;
    cursor: pointer;
  }

  .logo-course {
    cursor: pointer;
  }

  /*============================================== Contact Envelope ==============================================*/

  .envelope {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .envelope-background {
    display: flex;
    justify-content: center;
    margin-top: -310px;
    margin-left: 170px;
    /*position: relative;*/
    /*top: 120px;
    left: 392px;*/
    width: 650px;
    height: 318px;
    background-color: #00569a;
    border: none;
    transform-origin: inherit;
    /*transform: rotate(20deg);*/
    /*transform:  translateX(-50%) translateY(-50%) rotate(20deg);*/
    /*transform: matrix(1, -0.3, 0, 1, 0, 0);*/
  }

  /*.envelope-background-rotate {
    position: fixed;
    transform: rotate(20deg);
  }*/

  /*============================================== Contact Envelope ==============================================*/

  .post-stamp {
    position: absolute;
    top: 150px;
    left: 40px;
    height: 200px;
    width: 200px;
  }

  .miami-stamp {
    position: absolute;
    top: 35px;
    right: 30px;
    height: 220px;
    width: 220px;
  }

  .la-stamp {
    position: absolute;
    top: 5px;
    left: 15px;
    height: 200px;
    width: 200px;
  }

  .delivery-stamp {
    position: absolute;
    top: 230px;
    right: 0px;
    height: 300px;
    width: 300px;
  }

  .express-stamp {
    position: absolute;
    top: 230px;
    left: 20px;
    height: 280px;
    width: 280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

  .heading {
    display: flex;
    justify-content: center;
    /*margin-top: 10px;*/
    /*margin-bottom: 300px;*/
    padding: 0px;
    font-size: 30px;
    text-align: center;
    font-family: "HelveticaNeue-Light";
    color: #9fbc93;
  }

  .message {
    position: absolute;
    left: 310px;
    top: 400px;
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 20px;
    /*text-align: center;*/
    font-family: "HelveticaNeue-Light";
    color: #9fbc93;
  }

  .phone-number {
    position: absolute;
    left: 395px;
    /* top: 500px; */
    bottom: 485px;
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    font-family: "HelveticaNeue-Light";
    color: #9fbc93;
  }

  /*============================================== Contact Form ==============================================*/
  /*================================================================================================================*/

  /*@import "https://fonts.googleapis.com/css?family=Raleway";
  * { box-sizing: border-box; }
  #contact {
    -webkit-user-select: none;  Chrome/Safari
    -moz-user-select: none;  Firefox
    -ms-user-select: none;  IE10+
  }*/

  /*.contactForm {
    padding: 2em;
    width: 580px;
    text-align: center;
    background: black;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    border: white;
    background: none;
  }*/

  /*input, textarea {*/
    /*margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;*/

    /*border: 6px solid salmon;*/
    /*border-bottom: 4px solid white;*/
    /*border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #f59086;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;*/
  /*}
  textarea { height: 420px; resize: none; }*/

  /*.formBtn {
    width: 140px;
    display: inline-block;
    background: #38c7c7;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 30px;
    margin-bottom: 300px;
  }*/

  input:focus { outline: none; }

  textarea:focus { outline: none; }

  .submit-button {
    position: absolute;
    bottom: 600px;
    left: 320px;
    width: 140px;
    background: #00569a;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 30px;
    border-radius: 10px 0px 0px 0px;
  }

  .reset-button {
    position: absolute;
    bottom: 600px;
    right: 320px;
    width: 140px;
    background: #00569a;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 30px;
    border-radius: 0px 10px 0px 0px;
  }

  .cotact-name {
    position: absolute;
    top: 150px;
    left: 230px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #00569a;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;
  }

  .contact-email {
    position: absolute;
    top: 230px;
    left: 230px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #00569a;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;
  }

  .contact-subject {
    position: absolute;
    top: 312px;
    left: 230px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #00569a;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;
  }

  .contact-comment {
    position: absolute;
    top: 150px;
    left: 530px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;

    border: 2px solid;
    border-color: #00569a;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;
    height: 180px;
    resize: none;
  }

  /*============================================== Background Color ==============================================*/

  /*.background {
    background-color: #d4d4d4;
  }*/

  /*============================================== Home Button ==============================================*/

  .home-logo {
    position: absolute;
    /*margin-top: 5px;*/
    margin-left: 89%;
    height: 80px;
    width: 80px;
    cursor: pointer;
  }

  .logo-course {
    cursor: pointer;
  }

  /*============================================== Contact Envelope ==============================================*/

  .envelope {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .envelope-background {
    display: flex;
    justify-content: center;
    margin-top: -310px;
    margin-left: 165px;
    /*position: relative;*/
    /*top: 120px;
    left: 392px;*/
    width: 650px;
    height: 318px;
    background-color: #00569a;
    border: none;
    transform-origin: inherit;
    /*transform: rotate(20deg);*/
    /*transform:  translateX(-50%) translateY(-50%) rotate(20deg);*/
    /*transform: matrix(1, -0.3, 0, 1, 0, 0);*/
  }

  /*.envelope-background-rotate {
    position: fixed;
    transform: rotate(20deg);
  }*/

  /*============================================== Contact Envelope ==============================================*/

  .post-stamp {
    position: absolute;
    top: 154px;
    left: 0px;
    height: 175px;
    width: 175px;
  }

  .miami-stamp {
    position: absolute;
    top: 35px;
    right: 23px;
    height: 150px;
    width: 150px;
  }

  .la-stamp {
    position: absolute;
    top: 5px;
    left: 10px;
    height: 150px;
    width: 150px;
  }

  .delivery-stamp {
    position: absolute;
    top: 330px;
    right: 0px;
    height: 300px;
    width: 300px;
  }

  .express-stamp {
    position: absolute;
    top: 307px;
    left: 20px;
    height: 280px;
    width: 280px;
  }
}

@media screen and (min-width: 320px) and (max-width: 736px) and (orientation: portrait) {

  .heading {
    display: flex;
    justify-content: center;
    margin-top: 19px;
    /* margin-bottom: 300px; */
    padding: 0px;
    font-size: 17px;
    text-align: center;
    font-family: "HelveticaNeue-Light";
    color: #9fbc93;
  }

  .message {
    position: absolute;
    left: 105px;
    right: 85px;
    top: 71px;
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 12px;
    /* text-align: center; */
    font-family: "HelveticaNeue-Light";
    color: #9fbc93;
  }

  .phone-number {
    position: absolute;
    left: 90px;
    /* top: 500px; */
    bottom: 65px;
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    font-family: "HelveticaNeue-Light";
    color: #9fbc93;
  }

  /*============================================== Contact Form ==============================================*/
  /*================================================================================================================*/

  /*@import "https://fonts.googleapis.com/css?family=Raleway";
  * { box-sizing: border-box; }
  #contact {
    -webkit-user-select: none;  Chrome/Safari
    -moz-user-select: none;  Firefox
    -ms-user-select: none;  IE10+
  }*/

  /*.contactForm {
    padding: 2em;
    width: 580px;
    text-align: center;
    background: black;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    border: white;
    background: none;
  }*/

  /*input, textarea {*/
    /*margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;*/

    /*border: 6px solid salmon;*/
    /*border-bottom: 4px solid white;*/
    /*border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #f59086;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;*/
  /*}
  textarea { height: 420px; resize: none; }*/

  /*.formBtn {
    width: 140px;
    display: inline-block;
    background: #38c7c7;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 30px;
    margin-bottom: 300px;
  }*/

  input:focus { outline: none; }

  textarea:focus { outline: none; }

  .submit-button {
    position: absolute;
    bottom: 200px;
    left: 95px;
    width: 140px;
    background: #00569a;
    color: #fff;
    font-weight: 100;
    font-size: 10px;
    border: none;
    height: 22px;
    width: 67px;
    border-radius: 10px 0px 0px 0px;
  }

  .reset-button {
    position: absolute;
    bottom: 200px;
    right: 95px;
    width: 140px;
    background: #00569a;
    color: #fff;
    font-weight: 100;
    font-size: 10px;
    border: none;
    height: 22px;
    width: 67px;
    border-radius: 0px 10px 0px 0px;
  }

  .cotact-name {
    position: absolute;
    top: 150px;
    left: 60px;
    margin: 0.8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: 12px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #00569a;
    background: none;
    display: block;
    width: 150px;
    display: block;
    width: 208px;
  }

  .contact-email {
    position: absolute;
    top: 205px;
    left: 60px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: 12px;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #00569a;
    background: none;

    display: block;
    width: 200px;
    padding: .4em;
  }

  .contact-subject {
    position: absolute;
    top: 173px;
    left: 60px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: 12px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: #00569a;
    background: none;
    display: block;
    width: 200px;
    padding: .4em;
  }

  .contact-comment {
    position: absolute;
    top: 236px;
    left: 58px;
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;
    border: 2px solid;
    border-color: #00569a;
    background: none;
    display: block;
    /* width: 177px; */
    padding: .4em;
    width: 200px;
    resize: none;
    height: 55px;
  }

  /*============================================== Background Color ==============================================*/

  /*.background {
    background-color: #d4d4d4;
  }*/

  /*============================================== Home Button ==============================================*/

  .home-logo {
    position: absolute;
    margin-top: -10px;
    margin-left: 70%;
    height: 80px;
    width: 80px;
    cursor: pointer;
  }

  .logo-course {
    cursor: pointer;
  }

  /*============================================== Contact Envelope ==============================================*/

  .envelope {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .envelope-background {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    /* position: relative; */
    width: 300px;
    margin-top: 184px;
    height: 160px;
    background-color: #00569a;
    border: none;
    transform-origin: inherit;
    /* transform: rotate(20deg); */
    /* transform: translateX(-50%) translateY(-50%) rotate(20deg); */
    /* transform: matrix(1, -0.3, 0, 1, 0, 0); */
  }

  .mobile-envelope {
    height: 300px;
    width: 275px;
    position: absolute;
    top: 146px;
  }
  /*.envelope-background-rotate {
    position: fixed;
    transform: rotate(20deg);
  }*/

  /*============================================== Contact Envelope ==============================================*/

  .post-stamp {
    position: absolute;
    top: 115px;
    left: 0px;
    height: 50px;
    width: 50px;
  }

  .miami-stamp {
    position: absolute;
    top: 39px;
    right: 5px;
    height: 100px;
    width: 100px;
  }

  .la-stamp {
    position: absolute;
    top: 30px;
    left: 0px;
    height: 80px;
    width: 80px;
  }

  .delivery-stamp {
    position: absolute;
    top: 202px;
    right: 1px;
    height: 100px;
    width: 100px;
  }

  .express-stamp {
    position: absolute;
    top: 230px;
    left: 6px;
    height: 100px;
    width: 100px;
  }

}
