#profile-photo {
  /*position: absolute;*/
  margin-top: 4%;
  margin-left: 55%;
  height: 800px;
  width: 800px;
  margin-bottom: 0%;
  padding-bottom: 0%;
  padding-top: 0%;
  overflow: hidden;
  position: fixed;
  display: block;
  /*cursor:url(http://i63.tinypic.com/2lsznkm.jpg), auto;*/
}
.linkedin-link {
  position: absolute;
  margin-top: 20%;
  margin-left: .5%;
  cursor: pointer;
}

.google-link {
  position: absolute;
  margin-top: 23%;
  margin-left: .5%;
  cursor: pointer;
}

.twitter-link {
  position: absolute;
  margin-top: 26%;
  margin-left: .5%;
  cursor: pointer;
}

.github-link {
  position: absolute;
  margin-top: 29%;
  margin-left: .5%;
  cursor: pointer;
}

.phone-link {
  position: absolute;
  margin-top: 32%;
  margin-left: .5%;
  cursor: pointer;
}

.bio {
  position: absolute;
  margin-top: 7%;
  margin-left: 15%;
  margin-bottom: 0%;
  font-size: 40px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  cursor:url(http://i63.tinypic.com/2lsznkm.jpg), auto;
}

.directions {
  position: absolute;
  margin-top: 23%;
  margin-left: 25%;
  margin-bottom: 0%;
  font-size: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
}

.space-bar {
  background-color: #D15CEA;
  width: 250px;
  height: 3px;
  position: absolute;
  margin-top: 21%;
  margin-left: 30%;
}

#background-art {
  position: fixed;
  display: block;
  background-repeat: no-repeat;
  overflow: hidden;
}

a {
  cursor:url(http://i63.tinypic.com/2lsznkm.jpg), auto;
  width: 100px;
  height: 100px;
}
