/*============================================== Home Page ==============================================*/

#profile-photo {
  margin-top: 4%;
  margin-left: 55%;
  height: 800px;
  width: 800px;
  margin-bottom: 0%;
  padding-bottom: 0%;
  padding-top: 0%;
  overflow: hidden;
  position: fixed;
  display: block;
  cursor:url("http://i63.tinypic.com/2lsznkm.jpg"), auto;
}

/*============================================== Contact info ==============================================*/

.linkedin-link {
  position: absolute;
  margin-top: 20%;
  margin-left: 0;
  cursor: pointer;
}

#contact-link {
  position: absolute;
  margin-top: 22.81%;
  margin-left: 0;
  cursor: pointer;
}

.twitter-link {
  position: absolute;
  margin-top: 25.5%;
  margin-left: 0;
  cursor: pointer;
}

.github-link {
  position: absolute;
  margin-top: 28.25%;
  margin-left: 0;
  cursor: pointer;
}

.phone-link {
  position: absolute;
  margin-top: 31%;
  margin-left: 0;
  cursor: pointer;
}

.contact-logos {
  cursor: pointer;
}

/*============================================== Info about me ==============================================*/

.bio {
  position: absolute;
  margin-top: 7%;
  margin-left: 15%;
  margin-bottom: 0%;
  font-size: 40px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  cursor:url("http://i63.tinypic.com/2lsznkm.jpg"), auto;
}

.directions {
  position: absolute;
  margin-top: 23%;
  margin-left: 25%;
  margin-bottom: 0%;
  font-size: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
}

.space-bar {
  background-color: #D15CEA;
  width: 250px;
  height: 3px;
  position: absolute;
  margin-top: 21%;
  margin-left: 30%;
}

/*============================================== Background photo ==============================================*/

#background-art {
  position: fixed;
  display: block;
  background-repeat: no-repeat;
  overflow: hidden;
}

/*============================================== Make Page Clickable ==============================================*/

a {
  cursor:url("http://i63.tinypic.com/2lsznkm.jpg"), auto;
  width: 100px;
  height: 100px;
  text-decoration: none;
}

/*============================================== Project 1 ==============================================*/
/*=======================================================================================================*/

/*============================================== Project Name & Description ==============================================*/

.project1-name {
  position: absolute;
  top: 200px;
  margin-left: 71.5%;
  font-size: 55px;
  font-family: sans-serif;
  text-align: center;
  color: black;
}

.project1-description {
  position: absolute;
  top: 300px;
  margin-left: 63%;
  margin-right: 6%;
  /*margin-bottom: 0%;*/
  font-size: 18px;
  font-family: "HelveticaNeue-Light";
  text-align: center;
  color: black;
}

/*============================================== Background Image ==============================================*/

#project1-background-art {
  height: 100%;
  width: 70%;
  margin-right: 20%;
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
}

/*============================================== App Photos ==============================================*/

#wobblee-home-pg {
  position: absolute;
  top: 220px;
  margin-left: 19%;
  height: 490px;
  width: 280px;
}

#wobblee-signup {
  position: absolute;
  top: 50px;
  margin-left: 6%;
  height: 470px;
  width: 270px;
  opacity: 0.7;
}

#wobblee-bubble-pg {
  position: fixed;
  top: 420px;
  margin-left: 35%;
  height: 470px;
  width: 270px;
  opacity: 0.6;
  overflow: hidden;
  display: block;
}

/*============================================== GitHub Button ==============================================*/

.git-button {
  position: absolute;
  top: 630px;
  margin-left: 70%;
  cursor: pointer;
  text-decoration: none;
  font-family: "HelveticaNeue-Light";
  font-size: 20px;
  /*border: 2px solid blue;*/
  padding: 10px 90px 10px 90px;
  background-color: #325eea;
  border-radius: 5px;
}

.git-button-link {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

/*============================================== Home Logo Button ==============================================*/

#logo-img {
  position: relative;
  margin-left: 90%;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.logo-link-to {
  cursor: pointer;
}

/*=================================================== Project 2 ======================================================*/
/*===================================================================================================================*/

/*============================================== Project 2 Background  ==============================================*/

#project2-background-art {
  height: 100%;
  width: 70%;
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-left: none;
  margin-right: none;
  margin-top: none
}

/*============================================== Phone With Hand  ==============================================*/

.phone{
  margin-left: 58%;
  margin-top: 28px;
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor:url("http://i63.tinypic.com/2lsznkm.jpg"), auto;
}

/*============================================== Project Name & Description  ==============================================*/

.project2-name {
  position: absolute;
  top: 200px;
  margin-left: 26.5%;
  font-size: 55px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  cursor:url("http://i63.tinypic.com/2lsznkm.jpg"), auto;
}

.project2-description {
  position: absolute;
  top: 300px;
  margin-left: 18%;
  margin-right: 45%;
  font-size: 18px;
  font-family: "HelveticaNeue-Light";
  text-align: center;
  color: white;
  cursor:url("http://i63.tinypic.com/2lsznkm.jpg"), auto;
}

/*============================================== Projec 2 Home Logo ==============================================*/

#logo-img-prjt2 {
  position: relative;
  margin-left: 90%;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.logo-link-to-prjt2 {
  cursor: pointer;
}

/*============================================== GitHub/See More Button ==============================================*/

.git-button-prjt2 {
  position: absolute;
  top: 550px;
  margin-left: 5%;
  cursor: pointer;
  text-decoration: none;
  font-family: "HelveticaNeue-Light";
  font-size: 25px;
  /*border: 2px solid blue;*/
  padding: 10px 400px 10px 400px;
  background-color: white;
  border-radius: 5px;
}

.git-button-link-prjt2 {
  cursor: pointer;
  text-decoration: none;
  color: #f88924;
}

/*============================================== GitHub/See More Button ==============================================*/

#app-login-screen {
  position: absolute;
  top: 114px;
  margin-left: 64.85%;
  height: 548px;
  width: 287px;
  cursor:url("http://i63.tinypic.com/2lsznkm.jpg"), auto;
}

/*============================================== Project 3 ==============================================*/
/*=======================================================================================================*/

/*============================================== Project 3 Background  ==============================================*/

.project3-background-art3 #project3-background-art3 {
  position: fixed;
  display: block;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin-left: -8px;
}

/*============================================== Project Name & Description  ==============================================*/

.project3-name {
  position: absolute;
  top: 170px;
  margin-left: 41%;
  font-size: 55px;
  font-family: sans-serif;
  text-align: center;
  color: black;
  /*cursor:url("http://i63.tinypic.com/2lsznkm.jpg"), auto;*/
}

.project3-description {
  position: absolute;
  top: 290px;
  margin-left: 31%;
  margin-right: 32%;
  font-size: 18px;
  font-family: "HelveticaNeue-Light";
  text-align: center;
  color: black;
  /*cursor:url("http://i63.tinypic.com/2lsznkm.jpg"), auto;*/
}


/*============================================== GitHub/See More Button ==============================================*/

.git-button-prjt3 {
  position: absolute;
  top: 480px;
  margin-left: 35%;
  cursor: pointer;
  text-decoration: none;
  font-family: "HelveticaNeue-Light";
  font-size: 25px;
  border: 3px solid #ff3778;
  padding: 10px 150px 10px 150px;
  background-color: #ff3778;
  border-radius: 50px;
}

.git-button-link-prjt3 {
  cursor: pointer;
  text-decoration: none;
  /*color: #ff3778;*/
  color: white;
}

/*============================================== Projec 3 Home Logo ==============================================*/

#logo-img-prjt3 {
  position: relative;
  margin-left: 90%;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.logo-link-to-prjt3 {
  cursor: pointer;
}

/*============================================== Email Popup Window ==============================================*/
/*================================================================================================================*/

/*@import "https://fonts.googleapis.com/css?family=Raleway";
* { box-sizing: border-box; }
#contact {
  -webkit-user-select: none;  Chrome/Safari
  -moz-user-select: none;  Firefox
  -ms-user-select: none;  IE10+
}*/

/*#contact:hover { background: #666; }*/
/*#contact:active { background: #444; }*/

#contactForm {
  display: none;
  border: 6px solid salmon;
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
}
/*
input, textarea {
  margin: .8em auto;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;

  display: block;
  width: 280px;
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn {
  width: 140px;
  display: inline-block;
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}*/
